:root {
  /* Global variables to be defined here */
  --color-income-bg: linear-gradient(90deg, #b5dc52 0%, #89e148 100%);
  --color-expense-bg: linear-gradient(
    90deg,
    #ff9595 0%,
    #ff4747 80%,
    #ff3838 100%
  );

  --color-background-primary: #9b9b9b;
  --color-background-secondary: #626262;
  --color-background: #3b3b3b;

  --color-primary: ;
  --color-white: #fff;
  --color-black: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background: var(--color-background);
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background-black);
  color: var(--color-primary);
  font-family: "Roboto Flex", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
